:root {
  --primary-color: rgb(42, 197, 73);
  --primary-color-dark: rgb(17, 170, 48);
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #f6f9fc;
}

section {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}